/* Styles go here */

/*.notification-failed {*/
    /*color:white;*/
    /*padding:10px;*/
    /*border:2px solid black;*/
    /*background:maroon;*/
/*}*/

/*.notification-success {*/
    /*color:white;*/
    /*padding:10px;*/
    /*border:2px solid black;*/
    /*background:green;*/
/*}*/

/*label, input { */
    /*display: block; */
/*}*/

@-webkit-keyframes appear {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 80%;
    }
}

@-webkit-keyframes disappear {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 80%;
    }
}
.results img {
    margin-bottom: 1em;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    -o-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
    opacity:1;
}

.results img:hover{
    opacity:0.5;
    background-color: rgba(102,51,0,0.7);
}






.result.ng-enter,
.result.ng-leave {
    transition: all ease-out 1s;
    -webkit-transition: all ease-out 1s;
}
.result.ng-enter-stagger,
.result.ng-leave-stagger {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;

}
.result.ng-enter,
.result.ng-leave.ng-leave-active {
    opacity: 0;
    margin-top: 1em;
}
.result.ng-enter.ng-enter-active,
.result.ng-leave {
    opacity: 1;
    margin-top: 0;
}